/** Fonts **/
@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue-Regular.woff') format('woff');
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

body {
    font: 18px/36px 'Bebas Neue', 'Arial Narrow', arial, sans-serif;
    background-color: whitesmoke;
}

h1 {
    font-size: 4em;
    text-align: center;
    text-shadow: 1px 1px 3px black;
}

.clear {
    clear: both;
}

.container {
    height: 200px;
    width: 1200px;
    background-color: whitesmoke;
    border: 2px solid black;
    border-radius: 20px;
    margin: auto;
    box-shadow: 0 0 5px 2px black;
}

.gallery li {
    width: 135px;
    height: 154px;
    list-style: none;
    margin: 0 65px;
    float: left;
    position: relative;
    border: 2px solid black;
    box-shadow: 0 0 20px 1px black;
}

.gallery li,
.gallery li span,
.gallery li a img {
    border-radius: 20%;
}

.gallery li span {
    display: block;
    background-color: rgba(200, 200, 200, .3);
    text-shadow: 0px 2px 3px white;
    width: 135px;
    height: 154px;
    position: absolute;
    top: 0;
    color: black;
    text-align: center;
    line-height: 154px;
    opacity: 0;
    transition: .2s;
}

.gallery li a:hover span {
    opacity: 1;
}

.overlay {
    position: fixed;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    overflow: hidden;
    z-index: 99;
    text-align: center;
    padding: 120px 0;
}

.overlay:target {
    width: auto;
    height: auto;
    bottom: 0;
    right: 0;
    animation: fadeIn 0.2s;
}

.overlay img {
    border: 2px solid white;
    display: block;
    margin: auto;
}

.overlay .close {
    text-decoration: none;
    color: black;
    background-color: rgba(255, 255, 255, .6);
    border: 1px solid black;
    padding: 2px 4px;
    border-radius: 5px;
}
