body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 80%;
    margin: auto;
    padding: 5px 0;
    overflow: hidden;
}

.clr {
    clear: both;
}

#main-header {
    background-color: olivedrab;
    color: white;
}

#main-nav {
    background-color: grey;
    color: white;
}

#main-nav ul {
    list-style: none;
    padding: 0;
}

#main-nav li {
    display: inline;
}

#main-nav a {
    text-decoration: none;
    margin-right: 10px;
    color: white;
}

#main-nav a:hover {
    color: greenyellow;
}

#showcase {
    background-image: url('../images/showcase1.jpg');
    background-position: center right;
    min-height: 300px;
    margin-bottom: 20px;
    text-align: center;
}

#showcase p {
    color: white;
    font-size: 36px;
    font-weight: bold;
    line-height: 1.6em;
}

#main-section {
    float: left;
    width: 70%;
}

#sidebar {
    background-color: grey;
    color: white;
    float: right;
    width: 30%;
    box-sizing: border-box;
    padding: 20px;
}

#main-footer {
    background-color: grey;
    color: white;
    text-align: center;
    margin-top: 20px;
}

@media (max-width: 600px) {
    #main-section {
        width: 100%;
        float: none;
    }

    #sidebar {
        width: 100%;
        float: none;
    }
}